:root {
  /* MX color definitions */
  --mx-dark-blue: #002d82;
  --mx-medium-blue: #a7e0f1;
  --mx-light-blue: #c6eefa;
  --mx-green-blue: #a7f1e8;
  --mx-dark-green: #c3ef6f;
  --mx-medium-green: #d5ed75;
  --mx-light-green: #f7ffd8;
  --mx-light-grey: #aaaaaa;
  --mx-medium-grey: #818181;
  --mx-dark-grey: #444444;

  /* Website color definitions */
  --primary-color: var(--mx-dark-blue);
  --secondary-color: var(--mx-light-grey);
  --tertiary-color: var(--mx-dark-green);
  --txt-color: var(--mx-dark-grey);
  /* --txt-color-title: #c6c6c6;
  --bg-color-primary: #333;
  --bg-color-secondary: #3d3d3d;
  --bg-color-tertiary: #474747;
  --bg-color-post: #fff;
  --bg-color-sel: #ededed;
  --color-sel: var(--bg-color-secondary);
  --link-color: var(--bg-color-tertiary); */

  /* Menu font size */
  --font-size-menu: 12px;
}

/* font definition... */
html {
  font-size: 112.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  /* background-color: var(--mx-light-blue); */
  /* background-color: var(--mx-dark-blue); */
  background-color: var(--txt-color);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: white;
  display: grid;
  grid-template:
    "nav" 40px
    "content" auto;
}

@media only screen and (min-width: 600px) and (min-height: 700px) {
  .container {
    margin-top: 30px;
    max-width: 380px;
    max-height: 900px;
    min-height: 700px;
    border: 5px solid var(--secondary-color);
    border-radius: 16px;
  }

  .site-navigation {
    border-radius: 10px;
  }
}

.nav {
  /* grid-row: 1; */
  grid-area: nav;
  display: block;
}

.content {
  /* grid-row: auto; */
  grid-area: content;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 400;
  font-size: 70px;
  /* color: #35495e; */
  /* color: var(--bg-color-tertiary); */
  color: #aaa;
  letter-spacing: 1px;
}

h1 {
  font-size: 36px;
}

:focus {
  outline-color: var(--secondary-color);
  /* outline: none !important; */
  /* border: 2px solid var(--secondary-color); */
  /* box-shadow: 0 0 20px var(--mx-dark-blue); */
}

input {
  border: 2px solid var(--mx-dark-blue);
  border-radius: 8px;
  padding: 4px;
}

label,
input {
  color: var(--txt-color);
  font-size: 16px;
}

/* nav */
.site-navigation {
  padding-left: 0px;
  padding-right: 0px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 700;
}

/* .site-navigation .inner {
  position: relative;
}

.inner {
  margin: 0 auto;
  max-width: 1200px;
} */

/* .inner:after, */
.div-menu:after {
  clear: both;
}

/* .inner:after, */
/* .inner:before, */
.div-menu:after,
.div-menu:before {
  content: "";
  display: table;
}

/* Button styling */
.btn-normal {
  color: var(--txt-color);
  border: 0;
  background-color: #ddd;
  font-size: 22px;
  border: none;
  border-radius: 4px;
  box-shadow: -6px 4px 10px var(--secondary-color);
  width: 100%;
}

.btn-default {
  color: #ddd;
  border: 0;
  background-color: var(--primary-color);
  font-size: 22px;
  border: none;
  border-radius: 4px;
  box-shadow: -6px 4px 10px var(--secondary-color);
  width: 100%;
}

/* Notifications styling */
.notification-title {
  font-size: 20px;
}

.notification-content {
  font-size: 16px;
}
